@font-face {
    font-family: 'PFBeauSansPro-Black';
    src: url('../fonts/PFBeauSansPro-Black.ttf');
}
@font-face {
    font-family: 'PFBeauSansPro-Light';
    src: url('../fonts/PFBeauSansPro-Light.ttf');
}
@font-face {
    font-family: 'PFBeauSansPro-Book';
    src: url('../fonts/PFBeauSansPro-Book.ttf');
}
@font-face {
    font-family: 'PFBeauSansPro-Reg';
    src: url('../fonts/PFBeauSansPro-Reg.ttf');
}
*, *:before, *:after { box-sizing: border-box; }
body{
	margin: 1rem 5rem;
	font-size: 1rem;	  
  @media (max-width: 767px){
    margin: 0.3rem;
  }
}
a{	
	text-decoration: none;
}
input[type="search"]{
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  box-shadow: 0 0 5px #efefef inset; 
  padding: 0.4rem;
  margin-right: 0.5rem;  
  padding-left: 1.7rem;
}
.icon-search{
  color: #d5d5d5;
  margin-right: -1.7rem;
  z-index: 10;
}
input[type="button"]{
  padding: 0.4rem;
  background-color: #17709a; 
  border-radius: 4px;
  color: white;
  border: 0;
  font-family: Arial;
}
input[type="button"], input[type="search"] {
    line-height:normal !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.logo{    
  width: calc(100% / 3);
  @media (max-width: 500px){
    width: calc(100% / 1);
  }
}
.searchForm{
  width: calc(100% / 3 * 2);
  display: flex;    
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 300px){
    width: calc(100% / 1);
    justify-content: flex-start;
    margin-top: 1rem;
  }
  @media (max-width: 500px){
    width: calc(100% / 1);
    justify-content: flex-end;
    margin-top: 1rem;
    input[type="button"]{
      width: 20%;
      } 
    input[type="search"] {
      width: 80%;
    }
  }
}
nav{
  margin: 1.5rem auto;
  max-width: 100%;
  width: 100%;  
}
.toggle {
  display: none;
  @media (max-width: 500px){
  display: block;  
  cursor: pointer;   
  }  
}
.menu{
  padding: 0;
  margin: 0;
  max-width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none; 
  width: 100%;
  font-family: 'PFBeauSansPro-Light';
  @media (max-width: 500px){
    display: block;
    width: 100%;
  }   
}
.menu li{
  background: linear-gradient(to right, #92c8e1, #b2daed);
  padding: 1rem 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .2s linear;  
  text-align: center;
  width: calc(100% / 5);
  border-radius: 4px 4px 0 0;
  @media (max-width: 500px){
    display: block;
    width: 100%;
    border-radius: 0;
  }
  @media (max-width: 1230px){
   height: 4rem;
  } 
  @media (max-width: 700px){
   height: 5rem;
  } 
}
.menu li a{
color: #4b4b4b;
align-self: center;
@media (max-width: 500px){
    display: block;
    width: 100%;
  }
}
.cart{
  width: 100%;
  h1{
    color: #0a7eb5;  
    font-family: 'PFBeauSansPro-Light';  
  }
  .table-head{
  background: #d9e8ef;
  width: 100%;
  padding: 1rem;  
  font-family: 'PFBeauSansPro-Book';
  }
  .table-body{
    padding-bottom: 1rem;
    border-bottom: 1px solid #d5d5d5;
    font-family: arial;
    .text-gray{
      color: #626262;
    }
  }
  .col-chek{
    width: calc(100% / 3);
  }
  .del-chek{
    width: calc(100% / 3 * 2);
    display: flex;
    justify-content: flex-end;    
  }
  .del-chek button{
    background: #7f7f7f;
    padding: .1rem;
    border: 0;
    color: #d9e8ef;
    border-radius: 4px;
    margin-right: .2rem;
  }
  .chek{
    width: calc(100% / 12);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 650px){
      width: calc(100% / 8);
    }
  }
  .prewiew{
    display: flex;
    width: calc(100% / 12);
    border-right: 1px dotted black;
    border-left: 1px dotted black;
    justify-content: center;
    align-items: flex-start;
    img{
      width: 80%;
    }
    @media (max-width: 650px){
      width: calc(100% / 8);
    }
  }
  .title{
     width: calc(100% / 12 * 6);
     padding: 0 1rem;
     border-right: 1px dotted black;
     display: flex;     
      align-items: center;
      font-family: Arial;
     @media (max-width: 650px){
      width: calc(100% / 4 * 3);
    }
  }
  .col-05{
    width: calc(100% / 24 * 1);
    justify-content: center;
    display: flex;
    align-items: center;
    @media (max-width: 650px){
      width: calc(100% / 8);
      margin: .8rem 0 1.2rem 0;
    }    
  }
  .col-1{
    width: calc(100% / 12 * 1);
    justify-content: center;
    display: flex;
    align-items: center;
    input[type="text"]{
      width: 50%;
      text-align: center;
      border: 1px solid #d5d5d5;
      border-radius: 4px;
      box-shadow: 0 0 5px #efefef inset;
    }
     @media (max-width: 650px){
      width: calc(100% / 4);
      margin: .8rem 0 1.2rem 0;
    }      
  }
  .pop-up{
    padding: 1rem 1.2rem;
    box-shadow: 0 0 10px #efefef; 
    z-index: 100;
    position: absolute;
    background: white;
    right: 2rem;
    bottom: 20%;
    p{
    color: #006599;
    font-weight: bold;
    u{
      font-size: 0.8rem;
    }
    span{
      color: #333333;
    }
  }
  button{
    background: #559abc;
    border: 0;
    padding: .2rem .5rem;  
    margin: 0 .2rem;  
  }
  input[type="text"]{
      width: 3rem;
      text-align: center;
      border: 1px solid #d5d5d5;
      border-radius: 4px;
      box-shadow: 0 0 5px #efefef inset;
    }
 }
  .calc{
    width: calc(100% / 12 * 10);
    text-align: right; 
    justify-content: flex-end;
    font-family: arial;
    @media (max-width: 650px){
      width: calc(100% / 3 * 2);
      margin: .8rem 0 1.2rem 0;
    }   
  }
  .rez{
    width: calc(100% / 12 * 2);
    text-align: right;
    font-weight: bold;   
    font-size: 1.1rem; 
    @media (max-width: 650px){
      width: calc(100% / 3);
      margin: .8rem 0 1.2rem 0;
    }   
  }
  .total{   
    border-top: 1px dotted black;    
    color: #0a7eb5;
    padding-top: 0.3rem;
    font-family: 'PFBeauSansPro-Reg';
  }
}
